/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Aa]ssets/Plugins/RootMotion/
/[Aa]ssets/OpenCVForUnity/
/[Aa]ssets/Videos/

.vs/
.vscode/

*.csproj
*.sln
*.slnx
*.vsconfig